<h1>User Medication</h1>
<h3>ID: <%= user.id %></h3>
<h3>Email: <%= user.email %></h3>

<table>
  <tr>
    <th>name</th>
    <th>dose</th>
    <th>frequency</th>
  </tr>
  <% for (const m of medications) { %>
  <tr>
    <td><%= m.name %></td>
    <td><%= m.dose %></td>
    <td><%= m.frequency %></td>
    <form action="/oauth/authorize/medication/<%= m.name %>" method="post">
      <td><input type="submit" value="Edit" /></td>
    </form>
  </tr>
  <% }%>
</table>
